/* =========================
   BANNER TRANG CHỦ
========================= */

.banner {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.banner > img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
}


/* =========================
   PHẦN CHUNG TRANG CHỦ
========================= */

h2 {
    text-align: center;
    margin: 120px 0 30px;
    font-size: 28px;
}


/* =========================
   SẢN PHẨM NỔI BẬT
========================= */

.products {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.product {
    width: 30%;
    background: #dbd5d0;
    text-align: center;
    padding: 12px;
}

.product img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    display: block;
}

.product h3 {
    margin: 18px 0 5px;
    font-size: 28px;
    font-weight: bold;
}


/* =========================
   QUY TRÌNH SẢN XUẤT
========================= */

.description {
    max-width: 800px;
    margin: auto;
    text-align: center;
    font-size: 20px;
}

.process {
    display: flex;
    gap: 12px;
    margin-top: 35px;
}

.step {
    flex: 1;
    text-align: center;
}

.step img {
    width: 100%;
    height: 130px;
    object-fit: cover;
}

.step p {
    font-weight: bold;
}


/* =========================
   GIÁ TRỊ CỘNG ĐỒNG
========================= */

.community {
    max-width: 800px;
    margin: auto;
    text-align: center;
    font-size: 20px;
}

.community p {
    font-size: 23px;
    line-height: 1.7;
}

.community img {
    width: 100%;
    margin-top: 25px;
}

/* HIỆU ỨNG HÌNH ẢNH */

.product img,
.step img {
    transition: transform 0.4s ease, outline 0.3s ease;
}

/* SẢN PHẨM NỔI BẬT */
.product img:hover {
    outline: 3px solid #725039;
    outline-offset: -3px;
}

.product a {
    color: inherit;
    text-decoration: none;
}

/* QUY TRÌNH SẢN XUẤT */
.step img:hover {
    transform: scale(1.12);
}
